* {
    padding: 0;
    margin: 0;
}

:root {
    /* Color Style */
    --clr-primary: #00113F;
    --clr-primary-deep: #000d31;
    --clr-secondary: #7FFFD9;
    --clr-tertiary: #3B58A7;

    --clr-1card: #00113F;
    --clr-2card: #213673;
    --clr-3card: #3653A5;
    

    --clr-btn: #263F85;

    /* Font style */
    --font-universal: tahoma, sans-serif;
}

html, body {
    position: relative;
    overflow-x: hidden;
    font-family: var(--font-universal);
}

/* Navigation Section */
.navbar-container {
    position: fixed;
    z-index: 99999 !important;
}

#nav-bar-top {
    padding: 1rem 18rem 1rem 18rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    background-color: var(--clr-primary-deep);
}

.side-nav-right {
    font-size: 16px;

    & span {
        margin-right: 16px;
    }

    & a {
        color: white;
        text-decoration: none;
        padding-left: 3rem;
    }
}

/* Navigation bottom */
#nav-bar-btm {
    background: var(--clr-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 18rem;
    padding-block: 1rem 0;
    width: 100vw;
    z-index: 9999 !important;
    position: relative;

    & h1 {
        color: white;
        font-size: 32px;

        & span {
            font-size: 15px;
            font-style: italic;
            padding-left: 4rem;
            position: relative;
            bottom: 1.5rem;
        }
    }

    & ul {
        list-style: none;
    }

    & li {
        padding-inline: 20px;
        display: inline-block;
        
    }

    & a {
        text-decoration: none;
        color: white;
        transition: 250ms;

        &:hover::after {
            width: 100%;
        }
    }

    & a::after {
        content: '';
        background: white;
        position: relative;
        display: block;
        width: 0;
        height: 2px;
        transition: 250ms;
    }
}

/* About Section */
.abt-container {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent, rgba(0, 0, 0, 0.9)), url("../imgs/about-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    padding: 0 18rem 6rem;
    color: white;
}

/* History Section */
.h-container {
    padding:  4rem 18rem;
    max-width: 100vw;
    min-height: 80vh;
}

.h-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.h-header {
    max-width: 450px;
    position: relative;
    color: var(--clr-primary);
}

.h-header:after {
    content: '';
    background: var(--clr-primary);
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 16px;
}

/* VMG section */

.vmg-container {
    max-width: 100vw;
    padding-inline: 18rem;
    height: 50vh;
    background: grey;
}

.vmg-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    text-align: center;
    gap: 10rem;
}













































/* Footer Section */
.footer-container {
    max-width: 100vw;
    min-height: 539px;
    background: var(--clr-primary);
    padding-inline: 18rem;
    padding-block: 60px 0;
    color: white;
 }

 .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    gap: 2rem;
 }

 .footer-1 div .f-header {
    font-size: 18px;
    opacity: 1 !important;
 }

 .footer-1 div .p-footer {
    opacity: .8;
 }

 .footer-1 { 

    & h1 {
    padding-block: 0 20px;
    font-size: 24px;
    }

    & p {
    padding-block: 0 25px;
 }
 }

 .footer-item {

    & h1 {
    font-size: 24px;
    padding-block: 0 20px;
    
    }

    & p {
        opacity: .8;
        padding-block: 0 25px;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & p:hover {
        opacity: 1;
    }
 
 }

 .footer-5 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-block: 30px 10px;

    & .f-copyright {
        opacity: .8;
    }
 }

 .l-footer {

    & p {
    padding-right: 40px;
    font-size: 14px;
    opacity: .8;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & p:hover {
        opacity: 1;
    }
 }

