* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Color Style */
    --clr-primary: #00113F;
    --clr-secondary: #7FFFD9;
    --clr-tertiary: #3B58A7;
    --clr-primary-deep: #000b29;

    --clr-1card: #00113F;
    --clr-2card: #213673;
    --clr-3card: #3653A5;
    

    --clr-btn: #263F85;

    /* Font style */
    --font-universal: Trebuchet MS, sans-serif;
    --font-paragraph: Verdana;
}

/* Navigation Section */
#nav-container {
    position: fixed;
    transition: 300ms;
    z-index: 999999 !important;
    max-width: 100vw;
    background: var(--clr-primary);
    filter: drop-shadow(0px 0 5px rgba(0, 0, 0, 0.6));
}

 /* Academics Hero Section */
 .acad-container {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent, rgba(0, 0, 0, 0.9)), url("../imgs/academics-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    padding: 0 18rem 6rem;
    color: white;
}

.acad-container .acad-header {
    font-size: 100px;
    font-weight: bold;
}

/* Info Section */

.acad-info-container {
    max-width: 100vw;
    min-height: 100vh;
    background: white;
    padding: 4rem 18rem 5rem 18rem;

    & .acad-home {
        opacity: .6;
    }

    & h1 {
        font-weight: bold;
        font-size: 48px;
        color: var(--clr-primary);
    }
}

/* ICT Section */
.ict-container {
    max-width: 100vw;
    min-height: 50vh;
    background: var(--clr-primary);
    color: white;
    padding: 4rem 18rem 4rem 18rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.ict-header {
    text-align: center;
    display: flex;
    align-items: center;
    padding-inline: 0 5rem;
    position: relative;
}

.ict-header h1 {
    position: relative;
}

.ict-header h1::before {
    content: '';
    background: var(--clr-secondary);
    width: 100px;
    height: 5px;
    display: block;
    position: absolute;
    inset: -2rem 2rem 10rem;
    margin: auto;
}

.ict-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 3rem
}

/* Industrial Section */

.industrial-arts-container {
    max-width: 100vw;
    min-height: 50vh;
    padding: 4rem 18rem 0 18rem;
}

.industrial-arts-container h1 {
    font-weight: bold;
    color: var(--clr-primary);
    position: relative;
    max-width: 100%;
}

.industrial-arts-container h1::after {
    content: '';
    background: var(--clr-primary);
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    inset: 0 28rem 0 0;
    margin: auto;
}

.industrial-arts-container h1::before {
    content: '';
    background: var(--clr-primary);
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    inset: 0 0 0 28rem;
    margin: auto;
}

.ia-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    text-align: center;
    gap: 5rem;
    padding-block: 5rem;
}

/* Academics Section */
.as-container {
    max-width: 100vw;
    min-height: 50vh;
    background: #f7f7f7;
    padding: 4rem 18rem 4rem 18rem;
}

.as-container h1 {
    font-weight: bold;
    color: var(--clr-primary);
    position: relative;
}

.as-container h1::after {
    content: '';
    background: var(--clr-primary);
    width: 400px;
    height: 4px;
    position: absolute;
    display: block;
    margin-top: 1rem;
}

.as-container .as-grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-bottom: 48px;
    overflow: hidden;
}

.as-grid-item div {
    background: var(--clr-primary);
    color: white;
    padding: 2rem 5rem;
}

.as-grid-item p {
    padding: 2rem 5rem;
}

/* Desktop/Laptop Layout */

@media screen and (min-width: 1024px) and (max-width: 1650px) {
    /* Academics Hero Tablet Layout */
    .acad-container {
        padding: 0 8rem 5rem;
    }

    /* Info Tablet Layout */
    .acad-info-container {
        padding-inline: 8rem;
    }

    /* ICT Tablet Layout */
    .ict-container {
        padding-inline: 8rem;
    }

    .ia-grid h2 {
        font-size: 22px;
        font-weight: bold;
    }

    /* Industrial Tablet Layout */
    .industrial-arts-container {
        padding-inline: 8rem;
    }

    /* Academics Tablet Layout */
    .as-container {
        padding-inline: 8rem;                            
    }

    .as-container h2 {
        font-size: 20px;
    }
}

/*  Tablet Layout  */
@media screen and (min-width: 768px) and (max-width: 1023px) {
     /* Academics Tablet Layout  */
     .acad-container {
        padding: 0 1rem 4rem;
     }

     /* Info Tablet Layout */
     .acad-info-container {
        padding-inline: 1rem;
     }

     .acad-info-container {
        min-width: 100%;
     }

     /* ICT Tablet Layout */
     .ict-container {
        padding-inline: 1rem;
     }

     /* Industrial Tablet Layout */
     .industrial-arts-container {
        padding-inline: 1rem;
     }

     /* Academics Tablet Layout */
     .as-container {
        padding-inline: 1rem;
     }
}



/* Mobile Layout */
@media screen and (max-width: 767px) {

/* Academics Mobile Layout */
    .acad-container {
        padding: 0 1rem 5rem;
    }

    .acad-container .acad-header {
        font-size: 56px;
    }

    /* Info Mobile Layout */
    .acad-info-container {
        padding-inline: 1rem;
        padding-block: 4rem 0;
    }

    .acad-info-container h1 {
        font-size: 32px;
    }

    .acad-info-container video {
        height: 413px;
        min-width: 100%;
    }

    /* ICT Mobile Layout */

    .ict-container {
        padding-inline: 1rem;
    }

    .ict-header {
        margin-bottom: 3rem;
        padding-inline: 0;
    }

    .ict-header h1 {
        font-size: 24px;
    }

    .ict-txt h1 {
        font-size: 20px;
        font-weight: bold;
    }

    /* Infustrial Arts Mobile Layout */

    .industrial-arts-container {
        padding-inline: 1rem;
    }

    .ia-item h2 {
        font-size: 22px;
        font-weight: bold;
    }

    .ia-grid {
        gap: 2rem;
    }

    .industrial-arts-container h1::before {
        display: none;
    }

    .industrial-arts-container h1::after {
        inset: 3rem 0 0 0;
        width: 100%;
    }

    /* Academics Mobile Layout */

    .as-container {
        padding-inline: 1rem;
    }

    .as-container h1::after {
        width: 100%;
    }



    .as-grid-item div {
        padding-inline: 1rem;
    }

    .as-grid-item p {
        padding-inline: 1rem;
    }
}
