* {
    padding: 0;
    margin: 0;
}

:root {
    /* Color Style */
    --clr-primary: #00113F;
    --clr-primary-deep: #000d31;
    --clr-secondary: #7FFFD9;
    --clr-tertiary: #3B58A7;

    --clr-1card: #00113F;
    --clr-2card: #213673;
    --clr-3card: #3653A5;
    

    --clr-btn: #263F85;

    /* Font style */
    --font-universal: tahoma, sans-serif;
}

html, body {
    position: relative;
    overflow-x: hidden;
    font-family: var(--font-universal);
}

/* Navigation Section */
.navbar-container {
    position: fixed;
    z-index: 99999 !important;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
}

#nav-bar-top {
    padding: 1rem 18rem 1rem 18rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    background-color: var(--clr-primary-deep);
}

.side-nav-right {
    font-size: 16px;

    & span {
        margin-right: 16px;
    }

    & a {
        color: white;
        text-decoration: none;
        padding-left: 3rem;
    }
}

/* Navigation bottom */
#nav-bar-btm {
    background: var(--clr-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 18rem;
    padding-block: 1rem 0;
    width: 100vw;
    z-index: 9999 !important;
    position: relative;

    & h1 {
        color: white;
        font-size: 32px;

        & span {
            font-size: 15px;
            font-style: italic;
            padding-left: 4rem;
            position: relative;
            bottom: 1.5rem;
        }
    }

    & ul {
        list-style: none;
    }

    & li {
        padding-inline: 20px;
        display: inline-block;
        
    }

    & a {
        text-decoration: none;
        color: white;
        transition: 250ms;

        &:hover::after {
            width: 100%;
        }
    }

    & a::after {
        content: '';
        background: white;
        position: relative;
        display: block;
        width: 0;
        height: 2px;
        transition: 250ms;
    }
}

/* About Section */
.admin-container {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent, rgba(0, 0, 0, 0.9)), url("../imgs/admission-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    padding: 0 18rem 6rem;
    color: white;
}

.admin-container .ad-header {
    font-size: 100px;
}

/* Details Section */
.details-container {
    max-width: 100vw;
    min-height: 60vh;
    padding-inline: 18rem;
    padding-block: 4rem;
}

.details-container .d-home {
    opacity: .6;
}

.d-content {
    text-align: justify;

    & h1 {
        font-weight: bold;
        color: var(--clr-primary);
    }
}

/* Admin Column 3 Section*/

.ad-col3 {
    max-width: 100vw;
    padding: 10rem 18rem 10rem 18rem;
    min-height: 50vh;
    color: white;
    background: var(--clr-primary);
    text-align: center;
    gap: 8rem;
}

/* Application Process Section */

.ad-process-container {
    max-width: 100vw;
    min-height: 60vh;
    padding: 8rem 18rem 5rem 18rem;
    color: var(--clr-primary);
}

.ad-process-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 10rem 10em;
    position: relative;
}

.ad-process-grid::after {
    content: '';
    background: var(--clr-primary);
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    bottom: 0;
    margin: auto;
}

.ad-item {
    padding-bottom: 4rem;
}

.ad-item .num {
    font-size: 92px;
}

.ad-item .ad-text {
    font-size: 24px;
}

/* On site Application Section */

.os-container {
    max-width: 100vw;
    min-height: 100vh;
    padding: 3rem 18rem 8rem 18rem;
}

.os-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 1rem;
}

.os-grid .os-header {
    font-weight: bold;
    color: var(--clr-primary);
}

.os-grid .os-header-2 {
    font-weight: bold;
}

.os-grid-content-2 {
    background: var(--clr-primary);
    color: white;
    padding: 56px;
}

.os-documents {
 
    & h1 {
    color: var(--clr-primary);
}
    & p {
        line-height: 1;
    }
}

/* Footer Section */
.footer-container {
    max-width: 100vw;
    min-height: 539px;
    background: var(--clr-primary);
    padding-inline: 18rem;
    padding-block: 60px 0;
    color: white;
 }

 .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    gap: 2rem;
 }

 .footer-1 div .f-header {
    font-size: 18px;
    opacity: 1 !important;
 }

 .footer-1 div .p-footer {
    opacity: .8;
 }

 .footer-1 { 

    & h1 {
    padding-block: 0 20px;
    font-size: 24px;
    }

    & p {
    padding-block: 0 48px;
 }
 }

 .footer-item {

    & h1 {
    font-size: 24px;
    padding-block: 0 20px;
    
    }

    & p {
        opacity: .8;
        padding-block: 0 18px;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & p:hover {
        opacity: 1;
    }
 
 }

 .footer-5 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-block: 30px 10px;

    & .f-copyright {
        opacity: .8;
    }
 }

 .l-footer {

    & p {
    padding-right: 40px;
    font-size: 14px;
    opacity: .8;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & p:hover {
        opacity: 1;
    }
 }