* {
    padding: 0;
    margin: 0;
}

:root {
    /* Color Style */
    --clr-primary: #00113F;
    --clr-primary-deep: #000d31;
    --clr-secondary: #7FFFD9;
    --clr-tertiary: #3B58A7;

    --clr-1card: #00113F;
    --clr-2card: #213673;
    --clr-3card: #3653A5;
    

    --clr-btn: #263F85;

    /* Font style */
    --font-universal: tahoma, sans-serif;
}

html, body {
    position: relative;
    overflow-x: hidden;
    font-family: var(--font-universal);
}

/* Navigation Section */
#nav-container {
    position: fixed;
    transition: 300ms;
    z-index: 999999 !important;
    max-width: 100vw;
    background: var(--clr-primary);
    filter: drop-shadow(0px 0 5px rgba(0, 0, 0, 0.6));

}

 /* Career Hero Section */
.career-container {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent, rgba(0, 0, 0, 0.9)), url("../imgs/career-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    padding: 0 18rem 6rem;
    color: white;
}

.career-container .ca-header {
    font-size: 100px;
    font-weight: bold;
}

/* Explore Section */
.ca-explore-container {
    max-width: 100vw;
    min-height: 100vh;
    padding: 4rem 18rem 10rem 18rem;
}

.ca-home {
    opacity: .6;
}

.ca-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 5rem;
    padding-block: 5rem 0;
}

.ca-grid .ca-item {
    text-align: center;
    background: white;
    padding: 3rem;
    filter: drop-shadow(5px 6px 5px rgba(0, 0, 0, 0.2));
}

.ca-item a {
    text-decoration: none;
    padding: 16px 32px;
    color: var(--clr-primary);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    font-weight: bold;

}

.ca-item a::after {
    content: '';
    position: absolute;
    display: block;
    background: var(--clr-secondary);
    width: 50px;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    transition: 250ms;
}

.ca-item a:hover::after {
    width: 100%;
}   

.ca-item p {
    padding-block: 32px;
}

.ca-item h2 {
    color: var(--clr-primary);
}

.ca-explore-header{

 & h1 {
    font-size: 56px;
    color: var(--clr-primary);
    font-weight: 600;
    }
& p {
    max-width:700px;    
}
}

/* Desktop/Laptop Layout */
@media screen and (min-width: 1024px) and (max-width: 1650px) {

    /* career Hero Desktop Layout */
    .career-container {
        padding: 0 8rem 4rem;
    }
        
    .career-container .ca-header{
        font-size: 72px;
    }
        
    /* Explore Desktop Layout */
    .ca-explore-container {
        padding-inline: 8rem;
    }  
}


/* Tablet Layout  */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* career Hero Tablet Layout */
    .career-container {
        padding: 0 1rem 4rem;
    }
    
    .career-container .ca-header{
        font-size: 72px;
    }
    
    /* Explore Tablet Layout */
    .ca-explore-container {
        padding-inline: 1rem;
    }
}



/* Mobile Layout */
@media screen and (max-width: 767px) {

    /* career Hero Mobile Layout */
    .career-container {
        padding: 0 1rem 4rem;
    }

    .career-container .ca-header{
        font-size: 56px;
    }

    /* Explore Mobile Layout */
    .ca-explore-container {
        padding-inline: 1rem;
    }
}