* {
    padding: 0;
    margin: 0;
}

:root {
    /* Color Style */
    --clr-primary: #00113F;
    --clr-primary-deep: #000d31;
    --clr-secondary: #7FFFD9;
    --clr-tertiary: #3B58A7;

    --clr-1card: #00113F;
    --clr-2card: #213673;
    --clr-3card: #3653A5;
    

    --clr-btn: #263F85;

    /* Font style */
    --font-universal: tahoma, sans-serif;
}

html, body {
    position: relative;
    overflow-x: hidden;
    font-family: var(--font-universal);
}

/* Navigation Section */
#nav-container {
    position: fixed;
    transition: 300ms;
    z-index: 999999 !important;
    max-width: 100vw;
    background: var(--clr-primary);
    filter: drop-shadow(0px 0 5px rgba(0, 0, 0, 0.6));

}

/* Contact Section */
.contact-section-container {
    padding: 18rem 18rem 0 18rem;
    max-width: 100vw;
    min-height: 80vh;
    text-align: center;

    & h1 {
        padding-block: 0 86px;
        font-weight: bold;
        color: var(--clr-primary);
    }
}

.contact-grid {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
}

.contact-item {
    text-align: center;
    max-width: 100vw;

    & i {
        font-size: 32px;
        background: #e7e7e7;
        color: var(--clr-primary);
        padding: 18px;
        border-radius: 100%;
        
    }

    & .c-headline {
        font-size: 24px;
        color: var(--clr-primary);
        font-weight: 550;
    }
}

/* Map Section */

.map-holder {
    padding-inline: 18rem;
}

.mapouter {
    position:relative;
    text-align:right;
    width:100%;
    height:400px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:400px;
}

.gmap_iframe {
    height:400px!important;
}

/* Contact Form Section */

.c-form-container {
    padding: 5rem 18rem 0;
    max-width: 100vw;
    min-height: 100vh;
}

form .c-btn {
    padding: 16px 32px;
    background: var(--clr-primary);
    color: white;
    outline: 0;
    border: none;
    transition: 300ms;
}

form .c-btn:hover {
    background: var(--clr-3card);
}

.c-logo-right {
    padding: 10rem 0 18rem 18rem;
    text-align: center;
}

/* Desktop/Laptop Layout */
@media screen and (min-width: 1024px) and (max-width: 1650px) {

    /* Contact Desktop Layout */
    .contact-section-container {
        padding-inline: 8rem;
        padding-block: 15rem 0;    
    }

    .contact-item p {
        font-size: 13px;
    }

    /* Map Dekstop Layout */
    .map-holder {
        padding-inline: 8rem;
    }

    /* Contact Form Desktop Layout */
    .c-form-container {
        padding-inline: 8rem;
        padding-top: 3rem;
    }

    .c-logo-right {
        padding: 5rem 1rem;
    }

}


/* Tablet Layout */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Contact Tablet Layout */
    .contact-section-container {
        padding-inline: 1rem;
        padding-block: 15rem 0;    
    }
    
    .contact-item {
        padding-bottom: 3rem;
    }

    .contact-item p {
        font-size: 12px;
    }

    .contact-item i {
        font-size: 20px;
    }

    .contact-item .c-headline {
        font-size: 20px;
    }

    /* Map Tablet Layout */
    .map-holder {
        padding-inline: 1rem;
    }

    /* Contact Form Tablet Layout */
    .c-form-container {
        padding-inline: 1rem;
        padding-top: 3rem;
    }

    .c-logo-right {
        padding: 5rem 1rem;
    }
}

/* Mobile Layout */
@media screen and (max-width: 767px) {

    /* Contact Mobile Layout */
    .contact-section-container {
        padding-inline: 1rem;
        padding-block: 10rem 0;    
    }

    .contact-item {
        padding-bottom: 3rem;
    }

    .contact-item .c-headline {
        font-size: 16px;
    }

    .contact-item p {
        font-size: 12px;
    }

    .contact-item i {
        font-size: 20px;
    }

    /* Map Mobile Layout */
    .map-holder {
        padding-inline: 1rem;
    }

    /* Contact Form Mobile Layout */
    .c-form-container {
        padding-inline: 1rem;
        padding-top: 3rem;
    }

    .c-logo-right {
        padding: 5rem 1rem;
    }
}


