* {
    padding: 0;
    margin: 0;
}

:root {
    /* Color Style */
    --clr-primary: #00113F;
    --clr-primary-deep: #000d31;
    --clr-secondary: #7FFFD9;
    --clr-tertiary: #3B58A7;

    --clr-1card: #00113F;
    --clr-2card: #213673;
    --clr-3card: #3653A5;
    
    --clr-btn: #263F85;

    /* Font style */
    --font-universal: tahoma, sans-serif;
}

html, body {
    position: relative;
    overflow-x: hidden;
    font-family: var(--font-universal);
}

/* All News Section */
.alln-section {
    max-width: 100vw;
    padding: 18rem 18rem 4rem;

    & h1 {
        color: var(--clr-primary);
        font-weight: bold;
    }
    
}

.news-item  {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 2rem;
    margin-block: 5rem;

    & a {
        text-decoration: none;
        color: var(--clr-primary);
    }
}

.n-item-date i {
    color: var(--clr-primary);
}

.img-item {
    max-width: 100vw;
}

.img-item img {
    width: 100%;
    margin-bottom: 3rem;
}

.n-header {
    color: var(--clr-primary);
    
    & h1 {
        font-weight: bold;
        margin-block: 20px;
    }
}

/* Footer Section */
.footer-container {
    max-width: 100vw;
    min-height: 539px;
    background: var(--clr-primary);
    padding-inline: 18rem;
    padding-block: 60px 0;
    color: white;
 }

 .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    gap: 2rem;
 }

 .footer-1 div .f-header {
    font-size: 18px;
    opacity: 1 !important;
 }

 .footer-1 div .p-footer {
    opacity: .8;
 }

 .footer-1 { 

    & h1 {
    padding-block: 0 20px;
    font-size: 24px;
    }

    & p {
    padding-block: 0 48px;
 }
 }

 .footer-item {

    & h1 {
    font-size: 24px;
    padding-block: 0 20px;
    
    }

    & p {
        opacity: .8;
        padding-block: 0 18px;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & p:hover {
        opacity: 1;
    }
 
 }

 .footer-5 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-block: 30px 10px;

    & .f-copyright {
        opacity: .8;
    }
 }

 .l-footer {

    & p {
    padding-right: 40px;
    font-size: 14px;
    opacity: .8;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & p:hover {
        opacity: 1;
    }
 }