* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Color Style */
    --clr-primary: #00113F;
    --clr-secondary: #7FFFD9;
    --clr-tertiary: #3B58A7;

    --clr-1card: #00113F;
    --clr-2card: #213673;
    --clr-3card: #3653A5;
    

    --clr-btn: #263F85;

    /* Font style */
    --font-universal: tahoma, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    font-family: var(--font-universal);
}

/* Navigation Top */

#nav-container {
    position: fixed;
    transition: 300ms;
    z-index: 999999 !important;
    max-width: 100vw;

}

.nav-colored {
    background-color: var(--clr-primary);
    filter: drop-shadow(6px 1px 10px rgba(0, 0, 0, 0.6));
}

.nav-transparent {
    background-color:transparent;
}

#nav-bar-top {
    padding: 1rem 18rem 1rem 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.side-nav-left {
    font-size: 15px;

    & a {
        color: white;
        text-decoration: none;
        padding-right: 3rem;
        position: relative;
    }

    & a:after {
        content: '';
        background: white;
        width: 0;
        height: 2px;
        display: block;
        position: absolute;
        left: 0;
        transition: 300ms;

    }

    & a:hover::after {
        width: 50%;
    }
}

.side-nav-right {
    font-size: 16px;

    & span {
        margin-right: 16px;
    }

    & a {
        color: white;
        text-decoration: none;
        padding-left: 3rem;
    }
}

/* Navigation bottom */
#nav-bar-btm {
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 18rem;
    padding-block: 1rem 0;
    width: 100vw;
    z-index: 9999 !important;
    position: relative;

    & h1 {
        color: white;
        font-size: 32px;

        & span {
            font-size: 15px;
            font-style: italic;
            padding-left: 4rem;
            position: relative;
            bottom: 1.5rem;
        }
    }

    & ul {
        list-style: none;
    }

    & li {
        padding-inline: 20px;
        display: inline-block;
        
    }

    & a {
        text-decoration: none;
        color: white;
        transition: 250ms;

        &:hover::after {
            width: 100%;
        }
    }

    & a::after {
        content: '';
        background: white;
        position: relative;
        display: block;
        width: 0;
        height: 2px;
        transition: 250ms;
    }

}

#nav-bar-btm::before {
    content: '';
    height: 1px;
    background: white;
    position: absolute;
    display: block;
    inset: 0 18rem 0 18rem;
    
}

/* Hero Section */
.hero-section {
    max-width: 100vw;
    height: 90vh;

    & img {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        z-index: -1;
        
    }
    
    & h1 {
        padding: 18rem 18rem 0rem 18rem;
        color: white;
        font-size: 64px;
        opacity: .9;

        &:after {
            content: '';
            width: 138px;
            height: 5px;;
            background: var(--clr-secondary);
            display: block; 
            margin-top: 42px;
        }
    }

    & p {
        color: #FFF;
        padding-inline: 18rem;
        font-size: 24px;
        width: 60%;
        padding-top: 64px;
        opacity: .85;
        
    }

    & #shadow-overlay {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
        top: 0;
    }
}

/* 3 Cards Column Section */
.cards-container {
     background: #f7f7f7;
     max-width: 100vw;
     min-height: 80vh;
     padding-inline: 18rem; 
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    
     & .card {
        background: var(--clr-1card);
        border-radius: unset;
        height: 400px;
        position: relative;
        bottom: 5rem;
        color: white;
        display: flex;
        flex-direction: column;
        
        & h1 {
            font-size: 18px;
            padding: 18px;
        
        & i {
            padding-right: 10px;
        }
        }

        & .img-wrapper {
            width: 100%;
            height: 50%;
            overflow: hidden;      
        }

        & p {
            padding-inline: 38px;
            padding-block: 20px 0;
        }

        & a {
            color: white;
            text-decoration: none;
            transition: 250ms;
            padding-inline: 38px 0;
            padding-block: 0 20px;
        }
     }

     & .card-holder-2 {
        background: var(--clr-2card);
     }

     & .card-holder-3 {
        background: var(--clr-3card);
     }
}

.img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    transition: 400ms;
}

.img-wrapper img:hover {
    transform: scale(1.07);
}


/* VocTech Has Section */
.academy-has {

    & h1 {
        text-align: center;
        padding-block: 0 48px;
    }
}

.column-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 7rem;
}

.column h2 {
    margin-bottom: 28px;
}

.column h2 i {
    background: var(--clr-primary);
    color: white;
    padding: 10px;
    border-radius: 100%;
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
}

.column p {
    padding-left: 48px;
}

/* Advertisement Section */
.advert-container {
    background-image: url("../imgs/CTA-bg.png");
    max-width: 100vw;
    height: 70vh;
    background-size: cover;
    position: relative;
    color: white;
    padding-right: 18rem;
    margin-bottom: 80px;
} 

.advert-container .advert {
    z-index: 2;
    width: 600px;
    position: absolute;
    inset: 30% 0 0 50%;
} 

.advert-container::after {
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(270deg, rgba(92, 42, 42, 0.80) 0.23%, rgba(0, 0, 0, 0.00) 98.99%);
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1;
} 

#ad-btn a {
    text-decoration: none;
    color: white;
    padding: 16px 32px;
    background: var(--clr-primary);
    transition: 250ms;
}

#ad-btn a:hover {
    background: var(--clr-2card);
}

/* News & Update Section */
#news-container {
    max-width: 100vw;
    padding: 0 18rem 0 18rem;
    min-height: 10vh;
}

.update {

    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 10rem;
    min-height: 75vh;

    & .subject {
        height: 400px;

        & h1 {
        font-size: 24px;

        &::after {
           content:'';
           background: black;
           position: absolute;
           display: block;
           width: 350px;
           height: 3px;
           margin-top: 10px;

        }}
    }
}

.subject-1 .success-story {
    margin-top: 3rem;
    width: 70%;
    height: 500px;
    background: red;
}

.news-pack {
    display: flex;    

    & .news-content :nth-child(2) {
    font-weight: bold;
    }

    & .news-content :nth-child(1) {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    }

    & .headline {
        cursor: pointer;
    }
}

.news-pack img {
    width: 200px;
    height: 100px;
    background: gray;
    cursor: pointer;
 }

.next-page a {
    text-decoration: none;
    color: var(--clr-1card);
    font-weight: 550;
}

/* 4 Column Section */
.column-container {
    background: #f7f7f7;
    max-width: 100vw;
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    text-align: center;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
}

.column-container .column-child {
    padding-inline: 20px;
    position: relative;
}

.column-child h1 {
    position: relative;
}

.column-child h1::after {
    content: '';
    width: 200px;
    height: 5px;
    background: var(--clr-secondary);
    display: block;
    position: absolute;
    inset: 0;
    margin: 130px auto;
}

.column-parent-1 {
   display: flex;
   align-items: center;
   background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8), transparent), url("../imgs/Admission-img.png");
   background-size: cover;
}

.column-parent-2 {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8), transparent), url("../imgs/Programs-img.png");
    background-size: cover;
 }

 .column-parent-3 {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8), transparent), url("../imgs/Clubs\ &\ Activities-img.png");
    background-size: cover;
 }

 .column-parent-4 {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8), transparent), url("../imgs/Training-img.png");
    background-size: cover;
 }

 /* Events Section */
 .events-container {
    padding-inline: 18rem;
    max-width: 100vw;
    min-height: 70vh;
    background-color: #f2f2f2;
    padding-block: 80px;
 }

 .events-header::after {
    content: '';
    background: black;
    position: absolute;
    display: block;
    width: 70%;
    height: 4px;
 }

 .events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 3rem;
    margin-block: 60px;
 }

 .e-content {
    display: flex;
    gap: 20px;
 }

 .e-content .e-date h1 {
    font-size: 68px;
    text-align: center;
 }

 .e-content .e-date h1 span {
    color: var(--clr-tertiary);
 }

 .e-grid .e-img-holder {
    width: 100%;
    height: 200px;
    background: gray;
    margin-block: 0 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
 }

 .e-img-holder .dark-overlay {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), transparent);
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    transition: 300ms;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
 }

 .dark-overlay span {
    opacity: 0;
    transition: 300ms;
 }

 .e-img-holder:hover .dark-overlay{
    height: 200px;
 }

 .e-img-holder:hover .dark-overlay span{
    opacity: 1;;
 }

 .e-img-holder img{
    object-fit: cover;
    width: 100%;
    height: 100%;
 }

 .e-headline h3 {
    color: var(--clr-tertiary);
 }

 .more-events-link a {
    text-decoration: none;
    color: var(--clr-tertiary);
    font-size: 18px;
    font-weight: 500;
    margin-top: 100px; 
 }

 /* CTA Section */
 .cta-container {
    max-width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 40% 60%);
    gap: 5rem;
 }

 .cta-wrapper-1 {
    background-image: linear-gradient(to top, rgba(50, 77, 151, 0.47), rgba(50, 77, 151, 0.47)  ), url("../imgs/quick-links-bg.png");
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 56px;
        color: white;
        opacity: .8;

        & i {
            padding-right: 16px;
        }
    }

    & div {
        text-align: left;

    & a {
        font-size: 24px;
        opacity: .8;
    }
    }
 }

 .q-links-wrapper {

    & a {
        text-decoration: none;
        color: white;
        transition: 200ms;
    }

 }

 .q-links-wrapper a:hover {
    color: var(--clr-secondary);
    transform: scale(1.1);
 }

 .cta-wrapper-2 {
    padding: 100px 18rem 200px 100px;

    & .cta-heading {

        & h1 {
            font-size: 56px;
        }

        & p {
            font-size: 24px;
        }
    }
 }

 .cta-content {
    position: relative;
    text-align: justify;

    & a {
        background: var(--clr-primary);
        padding: 16px 64px;
        color: white;
        text-decoration: none;
        position: relative;
        top: 28px;
        transition: 250ms;
        font-size: 24px;
    }

    & a:hover {
        opacity: .8;
    }
 }

/* Footer Section */
.footer-container {
    max-width: 100vw;
    min-height: 539px;
    background: var(--clr-primary);
    padding-inline: 18rem;
    padding-block: 60px 0;
    color: white;
 }

 .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    gap: 2rem;
 }

 .footer-1 div .f-header {
    font-size: 18px;
    opacity: 1 !important;
 }

 .footer-1 div .p-footer {
    opacity: .8;
 }

 .footer-1 { 

    & h1 {
    padding-block: 0 20px;
    font-size: 24px;
    }

    & p {
    padding-block: 0 48px;
 }
 }

 .footer-item {

    & h1 {
    font-size: 24px;
    padding-block: 0 20px;
    
    }

    & p {
        opacity: .8;
        padding-block: 0 18px;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & p:hover {
        opacity: 1;
    }
 
 }

 .footer-5 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-block: 30px 10px;

    & .f-copyright {
        opacity: .8;
    }
 }

 .l-footer {

    & p {
    padding-right: 40px;
    font-size: 14px;
    opacity: .8;
    }

    & a {
        text-decoration: none;
        color: white;
    }

    & p:hover {
        opacity: 1;
    }
 }
 









































